body{
    background-color: white;
    font-family: "Noto Sans TC", sans-serif;
    margin: 0;
    padding: 0;
}

/* 導覽列容器 */
.navigation-container{
    background-color: white;
    width: 100%; 
    height: 54px;
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: center; 
    align-items: center; 
    box-shadow: 0 1px 0 #E8E8E8; 
}

/* 導覽列文字區塊最大寬度 */
.nav-min-container{
    width: 1200px;
    height: 34px;
    padding: 10px;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
}

.nav-min-container a {
    color: inherit; 
    text-decoration: none; 
}

.nav-min-container a:hover {
    opacity: 0.6;
}


/* 導覽列右側 */
.nav-right{
    display: flex; 
}

/* 導覽列右側選項 */
.nav-button{
    padding: 10px;
}

/* index page */

/* index 主圖區塊容器 */
.index-hero-section{
    height: 320px; 
    background-image: url('./images/image-background.png');
    background-position: center;
    background-size: cover;
    overflow: hidden;    

    display: flex;
    justify-content: center;
    align-items: center; 
}

/* index 主圖文字區容器 */
.index-hero-content{
    width: 1200px;
    height: 169px;
    padding: 10px;
    text-align: left;
}

.index-hero-slogan{
    padding:0px;
    margin: 20px;
}

.index-hero-search{
    display:flex;
    height: 46px;
    padding: 0px;
    margin: 20px;

}

/* index 主圖輸入框 */
.index-hero-input{
    width: 400px;
    height: 46px;
    padding: 0px 0px 0px 10px;
    margin: 0px;
    border: none;
    border-radius: 5px 0px 0px 5px;   
}

.index-hero-input::placeholder{
    font-family: "Noto Sans TC", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #666666;
}


.index-hero-button{
    background-image: url('./images/icon-search.png');
    background-color: #448899;
    width: 60px;
    height: 46px;
    padding: 0px;
    margin: 0px;
    border: none;
    border-radius: 0px 5px 5px 0px;  
    background-position: center; 
    background-repeat: no-repeat;
    background-size: 30px 30px; 
}

.index-hero-button:hover{
    opacity: 0.6;
}

/* index 主內容區塊容器 */
.index-main-container{
    width: 100%;
    margin:0px;
    padding: 40px, 0px, 40px, 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* index 主內容區塊1-mrt-list */
.index-mrt-list-container{
    background-color:white;
    width: 100%;
    max-width: 1200px;
    height: 70px;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.index-mrt-list{
    Width:1106px;
    height:50px;
    Padding:13px 10px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.index-mrt-station{
    Padding:5px 15px 5px 15px;
}

.index-mrt-station:hover {
    opacity: 0.6; 
}

.index-mrt-list-button-left,
.index-mrt-list-button-right{    
    width: 47px;
    height: 50px;
    padding: 9px 0px 9px 15px;
    margin: 0px;
    border: none;
    background-size: 32px 32px; 
    background-color:transparent;
    background-repeat: no-repeat;
}

.index-mrt-list-button-left{
    background-image: url('./images/icon-arrow-left-default.png');
    background-position: right; 
}

.index-mrt-list-button-right{
    background-image: url('./images/icon-arrow-right-default.png');
    background-position: left;
}

.index-mrt-list-button-left:hover{
    background-image: url('./images/icon-arrow-left-hovered.png');
}

.index-mrt-list-button-right:hover{
    background-image: url('./images/icon-arrow-right-hovered.png');
}



/* index 主內容區塊2-attractions */
.index-attractions-container{
    width: 100%;
    max-width: 1200px;
    margin: 0px;
    padding: 0px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.index-each-attraction{
    width: 270px;
    height: 242px;
    margin: 15px;
    padding: 0px;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    overflow: hidden;
}

.index-attraction-imgContainer{
    position:relative;
    width: 270px;
    height: 197px;
}


.index-attraction-imgContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* index 景點名稱 */
.index-attraction-name{
    position: absolute;
    width: 250px;
    height: 25px;
    padding: 10px;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 

    display: flex;
    align-items: center;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.index-attraction-name a {
    color: inherit; 
    text-decoration: none; 
}

.index-attraction-name:hover {
    opacity: 0.6;
}
  
/* index MRT 與 CAT  */
.index-attraction-info{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.index-info-mrt{
    flex: 1;
    height: 45px;
    text-align: left;
}

.index-info-cat{
    flex: 1;
    height: 45px;
    text-align: right; 
}


/* Footer */
.footer{
    width:100%;
    height: 104px;
    background-color: #757575;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}


.font-header1-bold30{
    font-size: 30px;
    font-weight: 700;
    color: #448899;
}

.font-header2-bold28{
    font-size: 28px;
    font-weight: 700;
    color: #F8F8F8;
}

.font-header3-bold24{
    font-size: 24px;
    font-weight: 700;
    color:#666666;
}

.font-body-bold16-white{
    font-size: 16px;
    font-weight: 700;
    color: #F8F8F8;
}

.font-body-bold16-gray{
    font-size: 16px;
    font-weight: 700;
    color: #666666;
}

.font-body-med16-gray{
    font-size: 16px;
    font-weight: 500;
    color: #666666;
}

.font-body-reg16-gray{
    font-size: 16px;
    font-weight: 400;
    color: #666666;
}


.hr{
    max-width: 1200px;
    border: none; 
    height: 1px;
    background-color: #E8E8E8; 
}


/* attraction page */

.attraction-section-container{
    width: 100%;
    max-width: 1200px;
    height: 400px;
    margin: 40px auto;
    display: flex;
}

.attraction-picture-container{
    flex: 1;
    margin:0px 10px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.attraction-picture-container img  {
    max-width: 100%;
    max-height: 100%;
    display: none;
}

.attraction-picture-button-left,
.attraction-picture-button-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5; 
}

.attraction-picture-button-left{
    left: 10px;
    background-image: url('./images/icon-image-arrow-left.png');
}
.attraction-picture-button-right{
    right: 10px;
    background-image: url('./images/icon-image-arrow-right.png');
}
.attraction-picture-button-left:hover,
.attraction-picture-button-right:hover{
    opacity: 1;
}

.attraction-picture-button-circle-container{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    background-color: transparent;
    border:none;
}

.attraction-picture-button-circle{
    width: 12px;
    height: 12px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
}

.attraction-picture-button-circle.active {
    background-color: rgba(0, 0, 0, 0.5);
}


.attraction-profile-container{
    flex: 1;
    margin:0px 10px;
}

#attraction-cat-mrt{
    margin: 15px 0px;
}

.attraction-booking-form-container{
    height: 260px;
    padding: 20px;
    background-color: #E8E8E8;
    border-radius: 5px;
}

.attraction-booking-item{
   margin-bottom: 15px; 
   display: flex; 
   align-items: center; 
}

.attraction-booking-date-button {
    background-color:white;
    border:none;
    width: 193px;
    height: 35px;
    color:black; 
    font-size:16px;
    font-weight:500;
}


.attraction-booking-label {
    display: flex; 
    align-items: center; 
}

.attraction-booking-time-button{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none; 
    
    width: 22px;
    height: 22px;
    background-color: white; 
    border-radius: 50%;
}

.attraction-booking-time-button:checked {
    background-color: #448899 ;
    border: 3px solid white; 
}

.attraction-booking-price,
.attraction-booking-date-button,
.attraction-booking-time-button{
    margin-left: 5px;
}

.attraction-booking-sumit{
    background-color: #448899;
    width: 154px;
    height: 36px;
    color: white;
    font-size: 19px;
    font-weight: 400;
    border: none;
    border-radius: 5px;
}

.attraction-booking-sumit:hover {
    opacity: 0.6;
}

.attraction-info-container{
    max-width: 1200px;
    margin: 40px auto;
}


.attraction-info{
    padding: 10px;
}

#attraction-address, #attraction-transportation{
    margin-top: 5px;
}



@media screen and (max-width: 700px) {
    .index-nav-min-container{
        width: 360px;
        padding: 5px;
    }

    .nav-button{
        padding: 5px;
    } 
      
    .index-hero-content{
        width: 340px;
        height: 169px;
    }
    
    .index-hero-input{
        width: 285px;
    }
    
    .index-mrt-list-container{
        max-width: 360px;
    }
    
    .index-mrt-list{
        Width:266px;
    }
    
    .index-attractions-container{
        max-width: 360px;
    }
    
    .index-each-attraction{
        width: 322px;
        height: 280px;
    }
    
    .index-attraction-imgContainer{
        width: 322px;
        height: 235px;
    }
    
    .index-attraction-name{
        width: 302px;
        height: 20px;
    }

    .hr{
        max-width: 340px;
    }
    

    .attraction-section-container{
        max-width: 600px;
        height: auto;
        margin: 0 auto ;
        flex-direction: column; 
    }


    .attraction-picture-container{
        flex:none;
        width: 100%;
        height: 350px;
        margin: 0px;
    }
    
    .attraction-picture-button-left,
    .attraction-picture-button-right {
        width: 36px;
        height: 36px;
    }

    .attraction-picture-button-circle{
        margin: 0 3px;
    }

    .attraction-profile-container{

        max-width: 340px;
        margin:10px auto;
        padding: 10px;
    }
    
    #attraction-cat-mrt{
        margin: 15px 0px;
    }
    
    .attraction-info-container{
        max-width: 360px;
    }
}
